body{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(90deg,#e99116 0%, #e14700 100%);
    display: flex;
    justify-content: center;
    align, itens: center 
    }
 .tela {
     background-color: #fafafa; 
     borde-radius:10px; 
     box-shadow: 2px, 5px, 
     width: 400px; 
     max-width:100% ;
     overflow:hidden ;
     padding: 20px; 
     
     
